body{
    background-color:#D5E1EF;
}
.numone{

    background-color:white;
    margin:auto;
    width:fit-content ;
    height:fit-content;
    border-radius: 20px;
    padding: 16px 16px 40px 16px;
}
.qr-code{
    width: 288px;
    height:288px;
}
.f-1{font-size: 22px;
    text-align: center;
    font-family: outfit,sans-serif;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0px;

}
.f-2{font-size: 15px;
    text-align: center;
    font-family: outfit,sans-serif;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0.2px;
    color: #696969;


}
.numtwo{
   height: 288px; 
   width: fit-content;
}